body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(furnitureWP-modified.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Josefin Sans', sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay a{
    text-align: center;
    font-size: 20px;
    color: white;
    width: max-content;
    margin-top: 2%;
    margin-left: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.4%;
    padding-right: 0.4%;
    margin-right: 90%;
    background: #ea1538;
    border-radius: 5px;
    transition: 0.3s ease;
}

.overlay a:hover{
    /* transform: scale(1.3); */
     cursor: pointer;
    box-shadow: 0 0 5px #ea1538,
                0 0 20px #ea1538,
                0 0 60px #ea1538,
                0 0 150px #ea1538;
}

.box {
    position: absolute;
    width: 400px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0 10px 10px 10px rgb(0, 0, 0, .2);
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(furnitureWP-modified.jpg);
    background-size: cover;
    text-align: center;
    padding: 90px 30px;
    color: white;
    border-radius: 15px 15px 0 0;
    /* text-shadow: 2px 2px 10px; */
    font-size: 20px;
}

.furn-id{
    color: #ea1538;
}

.needacc{
    color: gray;
}

.header p {
    font-size: x-small;
}

.login-area {
    text-align: center;
    padding: 50px 50px 30px 50px;
}

.username,
.password {
    width: 100%;
    text-align: center;
    padding: 13px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: #eb4d67;
    margin-bottom: 15px;
    transition: 0.5s;
}

.username::placeholder,
.password::placeholder {
    color: rgba(255, 255, 255, .7);
}

.username:focus,
.password:focus {
    background-color: #a61129;
}

.submit {
    width: 150px;
    padding: 10px;
    background-color: #ea1538;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    margin: 10px;
    transition: .2s;
    cursor: pointer;
    box-sizing: 1px;
    box-shadow: 0px 4px 24px -5px rgba(0,0,0,0.66);
    -webkit-box-shadow: 0px 4px 24px -5px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 4px 24px -5px rgba(0,0,0,0.66);
}

.submit:hover {
    background-color: #8f1025;
}

a {
    display: block;
    font-size: x-small;
    text-decoration: none;
    color: #ea1538;
    margin-top: 10px;
}